includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.php

parameters:
  phpVersion: 80200
  level: 9
  tmpDir: build/phpstan
  paths:
    - .github
    - bin
    - src
    - tests
    - tools
  excludePaths:
    analyseAndScan:
      - tools/vendor/**
  bootstrapFiles:
    - vendor/autoload.php
  exceptions:
    check:
      tooWideThrowType: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  checkBenevolentUnionTypes: true
  reportAlwaysTrueInLastCondition: true
  reportAnyTypeWideningInVarTag: true
  checkMissingCallableSignature: true
  treatPhpDocTypesAsCertain: false
